.wp-block-blocks-course-team-members {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {

			.wp-block-blocks-course-team-member {
				width: calc(100% / #{$i} - 20px);
			}
		}
	}

	.wp-block-blocks-course-team-member {
		margin: 10px;
	}
}


.mrl-3up-header-container{
	display: flex;
    flex-direction: column;
}

.has-slime-background-color{
 background-color: #27fd7b;
}

.has-spark-background-color{
	background-color:#fff501;
}

.wrap{
	width: 50em;
	margin: auto;
}